@using People.UseCases.Common.Identity
@using People.Infrastructure.Abstractions.Interfaces
@inject ILoggedUserAccessor loggedUserAccessor;
@model UserInfoViewModel
@{
    ViewData["Title"] = $"User {Model.User.FullName}";
    var stringBirthday = Model.User.BirthDay == DateOnly.MinValue ? "N/A" : Model.User.BirthDay.ToString();
    var idsOfAllRoles = Model.AllRoles.Select(x => x.Id).ToList();
    var idsOfUserRoles = Model.RolesOfUser.Select(x => x.Id).ToList();
}

@section Styles{
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
}

<div class="d-grid gap-3">
  <div class="p-2 bg-light border row">
      <div class="col-md-6">
          <div class="p-1 row">
             <img class="col-md-4" src=@Model.User.AvatarUrl/>
             <h3 class="col-md-6">@Model.User.FullName</h3>
          </div>

          <div class="p-1 row">
            <h6 class="col-md-4">Почта:</h6>
            <span class="col-md-6">@Model.User.Email</span>
          </div>

          <div class="p-1 row">
            <h6 class="col-md-4">День рождения:</h6>
            <span class="col-md-6">@stringBirthday</span>
          </div>

          <div class="p-1 row">
            <h6 class="col-md-4">Отделение:</h6>
            <a class="col-md-6" href="@Url.Action("Edit", "Branch", new { id = Model.Branch.Id})">@Model.Branch.Name</a>
          </div>

          <div class="p-1 row">
            <span class="col-md-2">Роль:</span>
            @if (loggedUserAccessor.HasClaim(CustomClaimTypes.Permission, Permissions.Management))
            {
              <form class="col-md-4" asp-action="ChangeUserRole" asp-controller="User" asp-anti-forgery="true" method="post" class="w-50 mx-auto">
                  <select name="RoleIdToSet">
                      @foreach (var role in Model.AllRoles)
                      {
                          @if (role.Name == Model.User.Roles.FirstOrDefault())
                          {
                              <option value="@role.Id" selected>@role.Name</option>
                          }
                          else
                          {
                              <option value="@role.Id">@role.Name</option>
                          }
                      }
                  </select>
                  <input name="UserId" value="@Model.User.Id" hidden="hidden">
                  <input type="submit" class="btn btn-secondary text-white btn-sm" value="Обновить роль">
              </form>
            }
            else
            {
                <span class="col-md-4">@string.Join(',', Model.User.Roles)</span>
            }
          </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-3 w-100">
            <h6>Позиции:</h6>
            @if (Model.Positions is not null)
            {
                <button type="button" class="btn btn-secondary text-white col-md-6" onclick="showOrHideSection('editForm')">Редактировать</button>
            }
          </div>
          <ul class="col-md-6">
            @foreach (var position in Model.User.Positions)
            {
               <li>@position.Name</li>
            }
          </ul>
        </div>

        @if (Model.Positions is not null)
        {
           <form method="post" id="editForm" asp-action="EditPositions" asp-controller="User" asp-route-userId="@Model.User.Id" hidden>
             <label for="positionsSelector">Редактировать позиции:</label>
             <div class="p-2 row">
               <select id="positionsSelector" name="positionIds" class="form-control col-md-6" style="width: 50%" multiple>
                 @foreach (var position in Model.Positions)
                 {
                     @if (Model.User.Positions.Any(pos => pos.Id == @position.Id))
                     {
                         <option value="@position.Id" selected="selected">@position.Name</option>
                     }
                     else
                     {
                         <option value="@position.Id">@position.Name</option>
                     }
                 }
               </select>
               <div class="col-md-3">
                   <input type="submit" class="btn btn-info text-white" value="Сохранить изменения"/>
               </div>
             </div>
           </form>
        }
      </div>
  </div>

  <div class="row p-4 bg-light border">
     <div class="col-md-2 w-50">
         <h6>Подотчетные пользователи:</h6>
         @if (Model.Users is not null)
         {
             <button type="button" class="btn btn-secondary text-white col-md-6" onclick="showOrHideSection('editReportingUsers')">Редактировать</button>
         }
     </div>
     <ul class="col-md-4">
       @foreach (var user in Model.User.ReportingUsers)
       {
           <li class="row">
               <img class="col-md-3" src="@user.AvatarUrl"/>
               <span class="col-md-6"><a href="@Url.Action("Info", "User", new { userId = @user.Id } )">@user.FullName</a></span>
           </li>
       }
     </ul>
     @if (Model.Users is not null)
     {
       <form id="editReportingUsers" class="col-md-6" asp-action="EditReportingUsers" asp-controller="User" asp-route-userId="@Model.User.Id"  method="post" hidden>
         <label for="reportingUsersSelector">Редактировать подотчетных пользователей:</label>
         <div class ="row">
           <select name="reportingUserIds" id="reportingUsersSelector" class="col-md-8" style="width: 75%" multiple>
             @foreach (var user in Model.Users)
             {
                 @if (Model.User.ReportingUsers.Any(child => child.Id == user.Id))
                 {
                     <option value="@user.Id" data-avatar="@user.AvatarUrl" selected="selected"><span><img src="@user.AvatarUrl"/></span>@user.FullName</option>
                 }
                 else
                 {
                     <option value="@user.Id" data-avatar="@user.AvatarUrl"><span><img src="@user.AvatarUrl"/></span>@user.FullName</option>
                 }
             }
           </select>
           <div class="col-md-3">
                <input type="submit" class="btn btn-info text-white" value="Сохранить изменения"/>
           </div>
         </div>
       </form>
     }
  </div>

    <div class="row p-4 bg-light border">
        <div class="col-md-2 w-50">
            <label for="reviewsForUser">Оценивает</label>
            <table class="table table-primary table-hover" style="margin:1%" id="reviewsForUser">
                <tr>
                    <th>Ответчик</th>
                    <th>Срок</th>
                    <th>Ссылка</th>
                </tr>
                @foreach (var review in Model.ReviewsForUser)
                {
                    <tr>
                        <td><a href="/User/Info?userId=@review.ReviewedUserId">@review.ReviewedUser.FullName</a></td>
                        <td>@(review.Deadline?.ToString("dd.MM.yyyy") ?? "Не установлен срок")</td>
                        <td><a href="/Review/Process/@review.Id">Link for review</a></td>
                    </tr>
                }
            </table>
        </div>

        <div class="col-md-2 w-50">
            <label for="myReviews">Оценивают</label>
            <table class="table table-primary table-hover col" style="margin:1%" id="myReviews">
                <tr>
                    <th>Ответчик</th>
                    <th>Срок</th>
                    <th>Ссылка</th>
                </tr>
                @foreach (var review in Model.UserReviews)
                {
                    <tr>
                        <td><a href="/User/Info?userId=@review.ReviewedUserId">@review.ReviewedUser.FullName</a></td>
                        <td>@(review.Deadline?.ToString("dd.MM.yyyy") ?? "Не установлен срок")</td>
                        <td><a href="/Review/Process/@review.Id">Link for review</a></td>
                    </tr>
                }
            </table>
        </div>
    </div>

    <div class="row p-4 bg-light border">
        <div class="col-md-2 w-50 container">
            <p>Атрибуты пользователя</p>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#attributeSetModal">
                Установить атрибуты пользователя
            </button>
            <div class="row">
                @foreach (var atr in Model.AttributesOfUser)
                {
                    var atrValue = atr.Values.First(x => x.UserId == Model.User.Id);

                    @if (atr.AllowViewRoles.Select(x=>x.Id).Intersect(idsOfUserRoles).Any() || atr.AllowViewSelf)
                    {
                        <label for="atr[@atr.Id]">@atr.Name</label>
                        if (atr.AttributeType == AttributeType.Text)
                        {
                            <input value="@atrValue.Value" disabled type="text"/>
                        }
                        else if (atr.AttributeType == AttributeType.Number)
                        {
                            <input value="@atrValue.Value" type="number"/>
                        }
                        else if (atr.AttributeType == AttributeType.DropDown)
                        {
                            <select disabled>
                                @foreach (var option in atr.AttributeOptions)
                                {
                                    if (option.Id.ToString() == atrValue.Value)
                                    {
                                        <option value="@option.Id" selected>@option.Title</option>
                                    }
                                    else if (!string.IsNullOrWhiteSpace(atrValue.Value))
                                    {
                                        <option value="@option.Id">@option.Title</option>
                                    }
                                    else
                                    {
                                        <option value="">Не задано значение</option>
                                    }
                                }
                            </select>
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>


<!-- Modal Set Attributes -->
<div class="modal fade" id="attributeSetModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Атрибуты пользователя</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="modal-body" asp-action="SetAttributesForUser" asp-controller="User">
                <select multiple asp-for="AttributeIdsToSet">
                    @foreach (var atr in Model.AllAttributes)
                    {
                        if (Model.AttributesOfUser.Any(x=>x.Id == atr.Id))
                        {
                            <option value="@atr.Id" selected>@atr.Name</option>
                        }
                        else
                        {
                            <option value="@atr.Id">@atr.Name</option>
                        }
                    }
                </select>
                <input hidden value="@Model.User.Id" asp-for="User.Id"/>
                <button class="btn btn-primary">Сохранить</button>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary">Сохранить изменения</button>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="~/js/User/userInfoEdit.js"></script>
}
