@model EditPositionViewModel
@{
    Layout = null;
    var parentPositionId = Model.EditedPosition.ParentPosition == null ? 0 : Model.EditedPosition.ParentPosition.Id;
}

<form asp-action="Edit" asp-controller="Position" method="post" onsubmit="return jQueryModalPut(this, '@Url.Action("List","Position")')">
    <div name="position">
        <div class="form-group">
             @Html.Hidden("id", Model.EditedPosition.Id)
        </div>
        <div class="form-group">
            <label for="name">Имя позиции</label>
            @Html.TextBox("name", Model.EditedPosition.Name, new {@class = "form-control"})
        </div>
        <div class="attr">
          <label for="childPositions">Подчиняющиеся позиции</label>
          <select name="childIds" class="form-control" multiple>
              @foreach (var position in Model.Positions)
              {
                  <option value="@position.Id">@position.Name</option>
              }
            </select>
       </div>
       <div class="attr">
          <label for="parentPositions">Родительская позиция</label>
          <select name="parentId" class="form-control">
              <option disabled selected/>
              @foreach (var position in Model.Positions)
              {
                  <option value="@position.Id">@position.Name</option>
              }
          </select>
       </div>
    </div>
    <button type="submit" class="btn btn-info text-white" onclick="closeWindow()"> Применить изменения </button>
</form>

